<!DOCTYPE html>

<html lang='en'>
<head>
  <title>March Madness Predictions</title>
</head>

<link href="static/styles.css" rel="stylesheet">
<link rel="shortcut icon" type="image/jpg" href="static/bball.ico"/>

<div class="navbar">
  <a href="/top-bracket">Top Bracket</a>
  <a style=background-color:#005eb8 href="/bottom-bracket">Bottom Bracket</a>
  <a href="/final-four">Final Four</a>
  <a class="reset" href="/">Reset Picks</a>
</div>

<form action='/bottom-bracket' method='post' class="select">
<main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Purdue||east_1||1'>1. Purdue <span>
        {{ preds_dict['Purdue']['Texas Southern'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='Norfolk St||east_1||16'>16. Texas Southern <span>
        {{ preds_dict['Texas Southern']['Purdue'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Memphis||east_2||8'>8. Memphis <span>
        {{ preds_dict['Memphis']['FAU'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='FAU||east_2||9'>9. FAU <span>
        {{ preds_dict['FAU']['Memphis] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Duke||east_3||5">5. Duke <span>
        {{ preds_dict['Duke']['Oral Roberts'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oral Roberts||east_3||12">12. Oral Roberts <span>
        {{ preds_dict['Oral Roberts']['Duke'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Tennessee||east_4||4">4. Tennessee <span>
        {{ preds_dict['Tennessee']['Louisiana'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Louisiana||east_4||13">13. Louisiana <span>
        {{ preds_dict['Louisiana']['Tennessee'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Kentucky||east_5||6">6. Kentucky <span>
        {{ preds_dict['Kentucky']['Providence'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Providence||east_5||11">11. Providence <span>
        {{ preds_dict['Providence']['Kentucky'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Kansas St||east_6||3">3. Kansas St <span>
        {{ preds_dict['Kansas St']['Montana St'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Yale||east_6||14">14. Montana St <span>
        {{ preds_dict['Montana St']['Kansas St'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Michigan St||east_7||7">7. Michigan St <span>
        {{ preds_dict['Michigan St']['USC'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="USC||east_7||10">10. USC <span>
        {{ preds_dict['USC']['Michigan St'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Marquette||east_8||2">2. Marquette <span>
        {{ preds_dict['Marquette']['Vermont'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Vermont||east_8||15">15. Vermont <span>
        {{ preds_dict['Vermont']['Marquette'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      {% for n in range(1,9) %}
        {% if n is divisibleby(2) %}
          {% if 'east_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span> 
              {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'east_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
          {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n+1)|string], '') }}</span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(9,13) %}
        {% if n is divisibleby(2) %}
          {% if 'east_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
              {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'east_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
            {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(13,15) %}
        {% if n is divisibleby(2) %}
          {% if 'east_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>{{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n-1)|string], '') }}</span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'east_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
            {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- END OF LEFT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>

      {% if 'east_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_15']}}||east_15||{{seed_dict[winner_dict['east_15']]}}">{{seed_dict[winner_dict['east_15']]}}. {{winner_dict['east_15']}}</button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul>
      <!-- <div class="center-image">
        <br>
        <br>
        <br>
        <br>
        <img src="static/mm_logo.png" alt="March Madness Logo" width="250" height="120">
      </div> -->
      
    </ul>

    <!-- START OF RIGHT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      {% if 'mw_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_15']}}||mw_15||{{seed_dict[winner_dict['mw_15']]}}">{{seed_dict[winner_dict['mw_15']]}}. {{winner_dict['mw_15']}}</button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(13,15) %}
        {% if n is divisibleby(2) %}
          {% if 'mw_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
              {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'mw_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
            {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(9,13) %}
        {% if n is divisibleby(2) %}
          {% if 'mw_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
              {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'mw_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
            {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      {% for n in range(1,9) %}
        {% if n is divisibleby(2) %}
          {% if 'mw_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
              {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'mw_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
            {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Kansas||mw_1||1'>1. Kansas <span>
        {{ preds_dict['Kansas']['Howard'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='Howard||mw_1||16'>16. Howard <span>
      {{ preds_dict['Howard']['Kansas'] }}</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Arkansas||mw_2||8'>8. Arkansas <span>
        {{ preds_dict['Arkansas']['Illinois'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='Illinois||mw_2||9'>9. Illinois <span>
        {{ preds_dict['Illinois']['Arkansas'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="St Mary\'s||mw_3||5">5. St Mary's <span>
        {{ preds_dict['St Mary\'s']['VCU'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="VCU||mw_3||12">12. VCU <span>
        {{ preds_dict['VCU']['St Mary\'s'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Connecticut||mw_4||4">4. Connecticut <span>
        {{ preds_dict['Connecticut']['Iona'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Iona||mw_4||13">13. Iona <span>
        {{ preds_dict['Iona']['Connecticut'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="TCU||mw_5||6">6. TCU <span>
        {{ preds_dict['TCU']['Arizona St'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Arizona St||mw_5||11">11. Arizona St <span>
        {{ preds_dict['Arizona St']['TCU'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Gonzaga||mw_6||3">3. Gonzaga <span>
        {{ preds_dict['Gonzaga']['Grand Canyon'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Grand Canyon||mw_6||14">14. Grand Canyon <span>
        {{ preds_dict['Grand Canyon']['Gonzaga'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Northwestern||mw_7||7">7. Northwestern <span>
      {{ preds_dict['Northwestern']['Boise St'] }}</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Boise St||mw_7||10">10. Boise St <span>
      {{ preds_dict['Boise St']['Northwestern'] }}</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="UNC Asheville||mw_8||2">2. UCLA <span>
        {{ preds_dict['UCLA']['UNC Asheville'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Jville St||mw_8||15">15. UNC Asheville <span>
        {{ preds_dict['UNC Asheville']['UCLA'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
</main>
</form>
</html> 