<!DOCTYPE html>

<html lang='en'>
<head>
  <title>March Madness Predictions</title>
</head>

<link href="static/styles.css" rel="stylesheet">
<link rel="shortcut icon" type="image/jpg" href="static/bball.ico"/>

<div class="navbar">
  <a style=background-color:#005eb8 href="/top-bracket">Top Bracket</a>
  <a href="/bottom-bracket">Bottom Bracket</a>
  <a href="/final-four">Final Four</a>
  <a class="reset" href="/">Reset Picks</a>
</div>

<form action='/top-bracket' method='post' class="select">
<main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Gonzaga||west_1||1'>1. Gonzaga <span>
      {{ preds_dict['Gonzaga']['Georgia St'] }} </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='Georgia St||west_1||16'>16. Georgia St <span>
      {{ preds_dict['Georgia St']['Gonzaga'] }} </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Boise St||west_2||8'>8. Boise St <span>
        {{ preds_dict['Boise St']['Memphis'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='Memphis||west_2||9'>9. Memphis <span>
        {{ preds_dict['Memphis']['Boise St'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Connecticut||west_3||5">5. Connecticut <span>
        {{ preds_dict['Connecticut']['N Mex St'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="N Mex St||west_3||12">12. N Mex St <span>
        {{ preds_dict['N Mex St']['Connecticut'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Arkansas||west_4||4">4. Arkansas <span>
        {{ preds_dict['Arkansas']['Vermont'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Vermont||west_4||13">13. Vermont <span>
        {{ preds_dict['Vermont']['Arkansas'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Alabama||west_5||6">6. Alabama <span>
        {{ preds_dict['Alabama']['Notre Dame'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Notre Dame||west_5||11">11. Notre Dame <span>
        {{ preds_dict['Notre Dame']['Alabama'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Texas Tech||west_6||3">3. Texas Tech <span>
        {{ preds_dict['Texas Tech']['Montana St'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Montana St||west_6||14">14. Montana St <span>
        {{ preds_dict['Montana St']['Texas Tech'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Michigan St||west_7||7">7. Michigan St <span>
        {{ preds_dict['Michigan St']['Davidson'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Davidson||west_7||10">10. Davidson <span>
        {{ preds_dict['Davidson']['Michigan St'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Duke||west_8||2">2. Duke <span>
        {{ preds_dict['Duke']['CS Fullerton'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="CS Fullerton||west_8||15">15. CS Fullerton <span>
        {{ preds_dict['CS Fullerton']['Duke'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom top-border"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top bottom-border"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom top-border"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top bottom-border"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom top-border"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>
      
      <li class="spacer">&nbsp;</li>
    </ul>

    <!-- END OF LEFT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>

    <ul>
      <!-- <div class="center-image">
        <br>
        <br>
        <br>
        <br>
        <img src="static/mm_logo.png" alt="March Madness Logo" width="150" height="100">
      </div> -->
    </ul>

    <!-- START OF RIGHT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>

    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>
      
      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Arizona||south_1||1'>1. Arizona <span>
        {{ preds_dict['Arizona']['Wright St'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='Wright St||south_1||16'>16. Wright St <span>
        {{ preds_dict['Wright St']['Arizona'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Seton Hall||south_2||8'>8. Seton Hall <span>
        {{ preds_dict['Seton Hall']['TCU'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='TCU||south_2||9'>9. TCU <span>
        {{ preds_dict['TCU']['Seton Hall'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Houston||south_3||5">5. Houston <span>
        {{ preds_dict['Houston']['UAB'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="UAB||south_3||12">12. UAB <span>
        {{ preds_dict['UAB']['Houston'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Illinois||south_4||4">4. Illinois <span>
        {{ preds_dict['Illinois']['Chatt'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Chatt||south_4||13">13. Chatt <span>
        {{ preds_dict['Chatt']['Illinois'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Colo St||south_5||6">6. Colo St <span>
        {{ preds_dict['Colo St']['Michigan'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Michigan||south_5||11">11. Michigan <span>
        {{ preds_dict['Michigan']['Colo St'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Tennessee||south_6||3">3. Tennessee <span>
      {{ preds_dict['Tennessee']['Longwood'] }}</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Longwood||south_6||14">14. Longwood <span>
      {{ preds_dict['Longwood']['Tennessee'] }}</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Ohio St||south_7||7">7. Ohio St <span>
      {{ preds_dict['Ohio St']['Loyola-Chi'] }}</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Loyola-Chi||south_7||10">10. Loyola-Chi <span>
      {{ preds_dict['Loyola-Chi']['Ohio St'] }}</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Villanova||south_8||2">2. Villanova <span>
      {{ preds_dict['Villanova']['Delaware'] }}</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Delaware||south_8||15">15. Delaware <span>
      {{ preds_dict['Delaware']['Villanova'] }}</span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
</main>
</form>
</html> 