<!DOCTYPE html>

<html lang='en'>
<head>
  <title>March Madness Predictions</title>
</head>

<link href="static/styles.css" rel="stylesheet">
<link rel="shortcut icon" type="image/jpg" href="static/bball.ico"/>

<div class="navbar">
  <a style=background-color:#005eb8 href="/top-bracket">Top Bracket</a>
  <a href="/bottom-bracket">Bottom Bracket</a>
  <a href="/final-four">Final Four</a>
  <a class="reset" href="/">Reset Picks</a>
</div>

<form action='/top-bracket' method='post' class="select">
<main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Alabama||west_1||1'>1. Alabama <span>
      {{ preds_dict['Alabama']['SE Missouri St'] }} </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='SE Missouri St||west_1||16'>16. SE Missouri St <span>
      {{ preds_dict['SE Missouri St']['Alabama'] }} </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Maryland||west_2||8'>8. Maryland <span>
        {{ preds_dict['Maryland']['West Virginia'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='West Virginia||west_2||9'>9. West Virginia <span>
        {{ preds_dict['West Virginia']['Maryland'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="San Diego St||west_3||5">5. San Diego St <span>
        {{ preds_dict['San Diego St']['Col Charleston'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Col Charleston||west_3||12">12. Col Charleston <span>
        {{ preds_dict['Col Charleston']['San Diego St'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Virginia||west_4||4">4. Virginia <span>
        {{ preds_dict['Virginia']['Furman'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Furman||west_4||13">13. Furman <span>
        {{ preds_dict['Furman']['Virginia'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Creighton||west_5||6">6. Creighton <span>
        {{ preds_dict['Creighton']['NC State'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="NC State||west_5||11">11. NC State <span>
        {{ preds_dict['NC State']['Creighton'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Baylor||west_6||3">3. Baylor <span>
        {{ preds_dict['Baylor']['UC Santa Barbara'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="UC Santa Barbara||west_6||14">14. UC Santa Barbara <span>
        {{ preds_dict['UC Santa Barbara']['Baylor'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Missouri||west_7||7">7. Missouri <span>
        {{ preds_dict['Missouri']['Utah St'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Utah St||west_7||10">10. Utah St <span>
        {{ preds_dict['Utah St']['Missouri'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Arizona||west_8||2">2. Arizona <span>
        {{ preds_dict['Arizona']['Princeton'] }}
      </span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Princeton||west_8||15">15. Princeton <span>
        {{ preds_dict['Princeton']['Arizona'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      {% for n in range(1,9) %}
        {% if n is divisibleby(2) %}
          {% if 'west_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['west_' + n|string]}}||west_{{ game_map[n] }}||{{seed_dict[winner_dict['west_' + n|string]]}}">{{seed_dict[winner_dict['west_' + n|string]]}}. {{winner_dict['west_' + n|string]}} <span> 
              {{ preds_dict[winner_dict['west_' + n|string]].get(winner_dict['west_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'west_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['west_' + n|string]}}||west_{{ game_map[n] }}||{{seed_dict[winner_dict['west_' + n|string]]}}">{{seed_dict[winner_dict['west_' + n|string]]}}. {{winner_dict['west_' + n|string]}} <span>
          {{ preds_dict[winner_dict['west_' + n|string]].get(winner_dict['west_' + (n+1)|string], '') }}</span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(9,13) %}
        {% if n is divisibleby(2) %}
          {% if 'west_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['west_' + n|string]}}||west_{{ game_map[n] }}||{{seed_dict[winner_dict['west_' + n|string]]}}">{{seed_dict[winner_dict['west_' + n|string]]}}. {{winner_dict['west_' + n|string]}} <span>
              {{ preds_dict[winner_dict['west_' + n|string]].get(winner_dict['west_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'west_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['west_' + n|string]}}||west_{{ game_map[n] }}||{{seed_dict[winner_dict['west_' + n|string]]}}">{{seed_dict[winner_dict['west_' + n|string]]}}. {{winner_dict['west_' + n|string]}} <span>
            {{ preds_dict[winner_dict['west_' + n|string]].get(winner_dict['west_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(13,15) %}
        {% if n is divisibleby(2) %}
          {% if 'west_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['west_' + n|string]}}||west_{{ game_map[n] }}||{{seed_dict[winner_dict['west_' + n|string]]}}">{{seed_dict[winner_dict['west_' + n|string]]}}. {{winner_dict['west_' + n|string]}} <span>{{ preds_dict[winner_dict['west_' + n|string]].get(winner_dict['west_' + (n-1)|string], '') }}</span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'west_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['west_' + n|string]}}||west_{{ game_map[n] }}||{{seed_dict[winner_dict['west_' + n|string]]}}">{{seed_dict[winner_dict['west_' + n|string]]}}. {{winner_dict['west_' + n|string]}} <span>
            {{ preds_dict[winner_dict['west_' + n|string]].get(winner_dict['west_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- END OF LEFT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>

      {% if 'west_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['west_15']}}||west_15||{{seed_dict[winner_dict['west_15']]}}">{{seed_dict[winner_dict['west_15']]}}. {{winner_dict['west_15']}}</button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul>
      
    </ul>

    <!-- START OF RIGHT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      {% if 'south_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['south_15']}}||south_15||{{seed_dict[winner_dict['south_15']]}}">{{seed_dict[winner_dict['south_15']]}}. {{winner_dict['south_15']}}</button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(13,15) %}
        {% if n is divisibleby(2) %}
          {% if 'south_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['south_' + n|string]}}||south_{{ game_map[n] }}||{{seed_dict[winner_dict['south_' + n|string]]}}">{{seed_dict[winner_dict['south_' + n|string]]}}. {{winner_dict['south_' + n|string]}} <span>
              {{ preds_dict[winner_dict['south_' + n|string]].get(winner_dict['south_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'south_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['south_' + n|string]}}||south_{{ game_map[n] }}||{{seed_dict[winner_dict['south_' + n|string]]}}">{{seed_dict[winner_dict['south_' + n|string]]}}. {{winner_dict['south_' + n|string]}} <span>
            {{ preds_dict[winner_dict['south_' + n|string]].get(winner_dict['south_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(9,13) %}
        {% if n is divisibleby(2) %}
          {% if 'south_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['south_' + n|string]}}||south_{{ game_map[n] }}||{{seed_dict[winner_dict['south_' + n|string]]}}">{{seed_dict[winner_dict['south_' + n|string]]}}. {{winner_dict['south_' + n|string]}} <span>
              {{ preds_dict[winner_dict['south_' + n|string]].get(winner_dict['south_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'south_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['south_' + n|string]}}||south_{{ game_map[n] }}||{{seed_dict[winner_dict['south_' + n|string]]}}">{{seed_dict[winner_dict['south_' + n|string]]}}. {{winner_dict['south_' + n|string]}} <span>
            {{ preds_dict[winner_dict['south_' + n|string]].get(winner_dict['south_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      {% for n in range(1,9) %}
        {% if n is divisibleby(2) %}
          {% if 'south_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['south_' + n|string]}}||south_{{ game_map[n] }}||{{seed_dict[winner_dict['south_' + n|string]]}}">{{seed_dict[winner_dict['south_' + n|string]]}}. {{winner_dict['south_' + n|string]}} <span>
              {{ preds_dict[winner_dict['south_' + n|string]].get(winner_dict['south_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'south_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['south_' + n|string]}}||south_{{ game_map[n] }}||{{seed_dict[winner_dict['south_' + n|string]]}}">{{seed_dict[winner_dict['south_' + n|string]]}}. {{winner_dict['south_' + n|string]}} <span>
            {{ preds_dict[winner_dict['south_' + n|string]].get(winner_dict['south_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Houston||south_1||1'>1. Houston <span>
        {{ preds_dict['Houston']['N Kentucky'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='N Kentucky||south_1||16'>16. N Kentucky <span>
        {{ preds_dict['N Kentucky']['Houston'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Iowa||south_2||8'>8. Iowa <span>
        {{ preds_dict['Iowa']['Auburn'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='Auburn||south_2||9'>9. Auburn <span>
        {{ preds_dict['Auburn']['Iowa'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Miami FL||south_3||5">5. Miami FL<span>
        {{ preds_dict['Miami FL']['Drake'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Drake||south_3||12">12. Drake <span>
        {{ preds_dict['Drake']['Miami FL'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Indiana||south_4||4">4. Indiana <span>
        {{ preds_dict['Indiana']['Kent St'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Kent St||south_4||13">13. Kent St <span>
        {{ preds_dict['Kent St']['Indiana'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Iowa St||south_5||6">6. Iowa St <span>
        {{ preds_dict['Iowa St']['Pittsburgh'] }}
      </span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Pittsburgh||south_5||11">11. Pittsburgh <span>
        {{ preds_dict['Pittsburgh']['Iowa St'] }}
      </span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Xavier||south_6||3">3. Xavier <span>
      {{ preds_dict['Xavier']['Kennesaw'] }}</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Kennesaw||south_6||14">14. Kennesaw <span>
      {{ preds_dict['Kennesaw']['Xavier'] }}</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Texas A&M||south_7||7">7. Texas A&M <span>
      {{ preds_dict['Texas A&M']['Penn State'] }}</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Penn State||south_7||10">10. Penn State <span>
      {{ preds_dict['Penn State']['Texas A&M'] }}</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Texas||south_8||2">2. Texas <span>
      {{ preds_dict['Texas']['Colgate'] }}</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Colgate||south_8||15">15. Colgate <span>
      {{ preds_dict['Colgate']['Texas'] }}</span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
</main>
</form>
</html> 